In [1]:
import pkg_resources

# Print version of cmapPy being used in current conda environment 
pkg_resources.get_distribution("cmapPy").version

'4.0.1'

In [2]:
from cmapPy.pandasGEXpress.parse import parse

In [3]:
import pandas as pd

In [11]:
my_data = parse("GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328.gctx", col_meta_only=True)

In [12]:
my_data = parse("GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328.gctx")

In [13]:
my_data.data_df.shape

(12328, 1319138)

In [14]:
my_data.data_df.head()

cid,CPC005_A375_6H_X1_B3_DUO52HI53LO:K06,CPC005_A375_6H_X2_B3_DUO52HI53LO:K06,CPC005_A375_6H_X3_B3_DUO52HI53LO:K06,CPC005_A375_6H_X1_B3_DUO52HI53LO:C19,CPC005_A375_6H_X2_B3_DUO52HI53LO:C19,CPC005_A375_6H_X3_B3_DUO52HI53LO:C19,CPC004_A375_6H_X1_B3_DUO52HI53LO:K13,CPC004_A375_6H_X2_B3_DUO52HI53LO:K13,CPC004_A375_6H_X3_B3_DUO52HI53LO:K13,CPC005_A375_6H_X1_B3_DUO52HI53LO:K20,...,PCLB003_PC3_24H_X3_B13:P15,PCLB003_PC3_24H_X3_B13:P16,PCLB003_PC3_24H_X3_B13:P17,PCLB003_PC3_24H_X3_B13:P18,PCLB003_PC3_24H_X3_B13:P19,PCLB003_PC3_24H_X3_B13:P20,PCLB003_PC3_24H_X3_B13:P21,PCLB003_PC3_24H_X3_B13:P22,PCLB003_PC3_24H_X3_B13:P23,PCLB003_PC3_24H_X3_B13:P24
rid,,,,,,,,,,,,,,,,,,,,,
5720,11.0495,10.61280,10.68330,10.6188,10.31685,10.2550,10.395651,6.228325,9.835300,10.6542,...,8.685200,9.560650,9.452749,9.934300,10.888650,10.153749,9.95225,10.47510,10.298750,10.18475
466,8.1680,7.78685,7.74605,8.2274,7.49620,7.7936,7.998450,8.473300,7.966750,7.9445,...,7.500850,7.568500,6.476350,6.351625,5.328900,7.470425,5.70095,7.57945,6.363250,6.32580
6009,12.7962,12.04710,12.34480,12.7085,12.17070,12.3651,12.307051,12.755750,12.561251,12.2638,...,11.410749,11.551300,11.099900,11.231300,11.229500,11.472900,11.43895,11.35985,11.810699,11.77145
2309,5.4546,6.32850,6.06805,5.3931,6.37220,5.8180,6.886450,6.994250,6.095550,5.8488,...,8.117900,6.443925,6.941925,6.494900,6.790300,5.812950,6.00055,6.04675,10.886200,5.77355
387,8.4247,7.36870,8.10590,8.7378,6.92010,8.5205,8.591250,9.000549,7.873550,8.2234,...,8.928950,8.673850,8.193251,7.220550,8.067375,8.137800,8.14390,8.09930,7.995750,8.23525

In [15]:
my_data.data_df.index

Index(['5720', '466', '6009', '2309', '387', '3553', '427', '5898', '23365',
       '6657',
       ...
       '2931', '63876', '51275', '158747', '283232', '25960', '6376', '11033',
       '54869', '60'],
      dtype='object', name='rid', length=12328)

In [16]:
pdata = pd.read_csv("GSE92742_Broad_LINCS_gene_info.txt.gz", compression='gzip', sep="\t")
pdata.head()

,pr_gene_id,pr_gene_symbol,pr_gene_title,pr_is_lm,pr_is_bing
0,780,DDR1,discoidin domain receptor tyrosine kinase 1,1,1
1,7849,PAX8,paired box 8,1,1
2,2978,GUCA1A,guanylate cyclase activator 1A,0,0
3,2049,EPHB3,EPH receptor B3,0,1
4,2101,ESRRA,estrogen related receptor alpha,0,1

In [17]:
pwd

'/nfs/turbo/umms-welchjd/hengshi/perturb_gan/data/LINCS'

In [18]:
pdata.shape

(12328, 5)

In [19]:
gene_considered = list(pdata[pdata['pr_is_lm'] == 1]['pr_gene_id'])

In [20]:
gene_has = list(my_data.data_df.index)

In [21]:
list_gene = [i for i in range(len(gene_has)) if int(gene_has[i]) in gene_considered]

In [22]:
gene_has = [int(i) for i in list(my_data.row_metadata_df.index)]

In [23]:
list_gene = [i for i in range(len(gene_has)) if gene_has[i] in gene_considered]

In [24]:
gene_has[23] in gene_considered

True

In [25]:
import numpy as np
np.max(list(set(gene_has) & set(gene_considered)))

388650

In [26]:
use_data = my_data.data_df.iloc[list_gene, :]

In [27]:
use_data.shape

(978, 1319138)

In [28]:
data = use_data.T
data.head()

rid,5720,466,6009,2309,387,3553,427,5898,23365,6657,...,9738,6793,7358,58472,50865,23200,51293,10962,10153,874
cid,,,,,,,,,,,,,,,,,,,,,
CPC005_A375_6H_X1_B3_DUO52HI53LO:K06,11.04950,8.16800,12.7962,5.45460,8.4247,4.70430,5.782900,9.5871,5.15530,5.419050,...,8.00910,6.82385,7.97665,4.4864,6.4959,7.96775,11.7371,11.418300,10.3165,6.18490
CPC005_A375_6H_X2_B3_DUO52HI53LO:K06,10.61280,7.78685,12.0471,6.32850,7.3687,5.16045,5.392900,9.6579,5.02350,6.441900,...,7.75235,6.76170,8.24910,4.6915,7.0380,8.60560,12.2353,10.646400,10.7801,8.00000
CPC005_A375_6H_X3_B3_DUO52HI53LO:K06,10.68330,7.74605,12.3448,6.06805,8.1059,4.45400,6.446599,9.2528,5.76805,5.518100,...,7.51240,7.17390,8.01155,4.6317,6.5335,7.63130,12.0127,10.968800,10.6133,7.28895
CPC005_A375_6H_X1_B3_DUO52HI53LO:C19,10.61880,8.22740,12.7085,5.39310,8.7378,5.15635,5.374100,9.5945,4.96005,5.653000,...,7.61910,7.20830,7.11090,4.4356,6.6410,7.24670,11.4812,10.624400,10.6133,5.79055
CPC005_A375_6H_X2_B3_DUO52HI53LO:C19,10.31685,7.49620,12.1707,6.37220,6.9201,5.45450,5.148900,9.8248,4.29110,7.632751,...,6.69935,7.28310,8.77090,4.8374,9.8619,8.96405,11.8427,10.085649,10.7135,7.25120

In [22]:
np.save('./GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed.npy', data.values)

In [32]:
pd.DataFrame(list(data.index)).to_csv('GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_cells.csv')

In [34]:
pd.DataFrame(list(data.columns)).to_csv('GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_genes.csv')

In [24]:
data.shape

(1319138, 978)

# For perturbation information

In [2]:
import pandas as pd
import numpy as np
path_data = '/nfs/turbo/umms-welchjd/hengshi/perturb_gan/data/LINCS/GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed.npy'
input_ltpm_matrix = np.load(path_data)

In [23]:
perData = pd.read_csv('GSE92742_Broad_LINCS_pert_info.txt', sep="\t")

In [25]:
perData[perData['canonical_smiles'].is()]

,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
0,56582,AKT2,trt_oe,0,-666,-666,-666,-666
1,5981,HSF1,trt_oe,0,-666,-666,-666,-666
2,7150,NFE2L2,trt_oe,0,-666,-666,-666,-666
3,ABL1_G2A,ABL1,trt_oe.mut,0,-666,-666,-666,-666
4,ABL1_T315I,ABL1,trt_oe.mut,0,-666,-666,-666,-666

In [27]:
perData['pert_type'].unique()

array(['trt_oe', 'trt_oe.mut', 'trt_lig', 'trt_cp', 'trt_sh.cgs',
       'ctl_untrt', 'trt_sh', 'ctl_vector', 'ctl_vehicle.cns',
       'ctl_vector.cns', 'ctl_untrt.cns', 'trt_sh.css', 'ctl_vehicle'],
      dtype=object)

In [30]:
perData['canonical_smiles'][:3] == "-666"

0    True
1    True
2    True
Name: canonical_smiles, dtype: bool

In [31]:
perData[perData['canonical_smiles'] != "-666"].head()

,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
98,BRD-A00100033,nifurtimox,trt_cp,1,ARFHIAQFJWUCFH,ARFHIAQFJWUCFH-UHFFFAOYSA-N,CC1CS(=O)(=O)CCN1N=Cc1ccc(o1)[N+]([O-])=O,6842999
99,BRD-A00150179,5-hydroxytryptophan,trt_cp,0,QSHLMQDRPXXYEE,QSHLMQDRPXXYEE-UHFFFAOYSA-N,NC(Cc1c[nH]c2cccc(O)c12)C(O)=O,589768
100,BRD-A00267231,hemado,trt_cp,1,KOCIMZNSNPOGOP,KOCIMZNSNPOGOP-UHFFFAOYSA-N,CCCCC#Cc1nc(NC)c2ncn(C3OC(CO)C(O)C3O)c2n1,4043357
101,BRD-A00420644,SA-3676,trt_cp,0,ASCBUEVCEVGOFP,ASCBUEVCEVGOFP-UHFFFAOYSA-N,CCN1C2C(C(=NC2Nc3ccccc13)OC)c4ccccc4,2853908
102,BRD-A00474148,BRD-A00474148,trt_cp,0,RCGAUPRLRFZAMS,RCGAUPRLRFZAMS-UHFFFAOYSA-N,Oc1ccc(cc1)N1CCN(CC1)[S+]([O-])(=O)c1ccc2NC(=O...,44825297

In [32]:
perData.shape

(51383, 8)

In [35]:
cell_id = list(data.index)

In [35]:
len(list(set(cell_id) & set(perData['pert_id'])))

0

In [36]:
perData['pert_id']

0                     56582
1                      5981
2                      7150
3                  ABL1_G2A
4                ABL1_T315I
                ...
51378    ccsbBroad304_99991
51379    ccsbBroad304_99994
51380    ccsbBroad304_99997
51381                 dsRED
51382               renilla
Name: pert_id, Length: 51383, dtype: object

In [37]:
perMertric = pd.read_csv('GSE92742_Broad_LINCS_pert_metrics.txt.gz', compression='gzip', sep="\t")

In [40]:
perMertric

                  pert_id  pert_iname   pert_type   tas_q75         icc
0                   56582        AKT2      trt_oe  0.278030 -666.000000
1                    5981        HSF1      trt_oe  0.545909 -666.000000
2                    7150      NFE2L2      trt_oe  0.548338 -666.000000
3                ABL1_G2A        ABL1  trt_oe.mut  0.475214 -666.000000
4              ABL1_T315I        ABL1  trt_oe.mut  0.560118 -666.000000
...                   ...         ...         ...       ...         ...
51378  ccsbBroad304_99991  LUCIFERASE  ctl_vector  0.394557 -666.000000
51379  ccsbBroad304_99994        lacZ  ctl_vector  0.478580 -666.000000
51380  ccsbBroad304_99997        eGFP  ctl_vector  0.543647    0.615725
51381               dsRED       DSRED      trt_oe  0.545534 -666.000000
51382             renilla     RENILLA      trt_oe  0.472138 -666.000000

[51383 rows x 5 columns]

In [4]:
cellInfo = pd.read_csv('GSE92742_Broad_LINCS_cell_info.txt.gz', compression='gzip', sep="\t")

In [5]:
cellInfo.shape

(98, 14)

In [6]:
cellInfo

,cell_id,cell_type,base_cell_id,precursor_cell_id,modification,sample_type,primary_site,subtype,original_growth_pattern,provider_catalog_id,original_source_vendor,donor_age,donor_sex,donor_ethnicity
0,A375,cell line,A375,-666,-666,tumor,skin,malignant melanoma,adherent,CRL-1619,ATCC,54,F,-666
1,A375.311,cell line,A375,A375,genetically modified to stably express Cas9 pr...,tumor,skin,malignant melanoma,adherent,CRL-1619,ATCC,54,F,-666
2,A549,cell line,A549,-666,-666,tumor,lung,non small cell lung cancer| carcinoma,adherent,CCL-185,ATCC,58,M,Caucasian
3,A549.311,cell line,A549,A549,genetically modified to stably express Cas9 p...,tumor,lung,non small cell lung cancer| carcinoma,adherent,CCL-185,ATCC,58,M,Caucasian
4,A673,cell line,A673,-666,-666,tumor,bone,ewing's sarcoma,adherent,CRL-1598,ATCC,-666,F,-666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,CD34,primary,CD34,-666,-666,normal,bone,bone marrow,suspension,-666,-666,-666,-666,-666
94,PHH,primary,PHH,-666,-666,primary,liver,normal primary liver,-666,-666,CellzDirect,-666,-666,-666
95,SKB,primary,SKB,-666,-666,normal,muscle,myoblast,-666,CC-2580,Lonza,-666,-666,-666
96,SKL,primary,SKL,-666,-666,primary,muscle,normal primary skeletal muscle cells,adherent,CC-2561,LONZA,-666,-666,-666
97,SKL.C,primary,SKL,-666,-666,primary,muscle,normal primary skeletal muscle cells,adherent,CC-2561,LONZA,-666,-666,-666

In [51]:
my_data.src

'GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328.gctx'

In [7]:
instInfo = pd.read_csv('GSE92742_Broad_LINCS_inst_info.txt.gz', compression='gzip', sep="\t")
instInfo.head()

/sw/arcts/centos7/python3.8-anaconda/2020.07/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,inst_id,rna_plate,rna_well,pert_id,pert_iname,pert_type,pert_dose,pert_dose_unit,pert_time,pert_time_unit,cell_id
0,ASG001_MCF7_24H_X1_B7_DUO52HI53LO:F13,ASG001_MCF7_24H_X1,F13,DMSO,DMSO,ctl_vehicle,0.1,%,24,h,MCF7
1,ASG001_MCF7_24H_X1_B7_DUO52HI53LO:G13,ASG001_MCF7_24H_X1,G13,DMSO,DMSO,ctl_vehicle,0.1,%,24,h,MCF7
2,ASG001_MCF7_24H_X1_B7_DUO52HI53LO:I13,ASG001_MCF7_24H_X1,I13,DMSO,DMSO,ctl_vehicle,0.1,%,24,h,MCF7
3,ASG001_MCF7_24H_X1_B7_DUO52HI53LO:K13,ASG001_MCF7_24H_X1,K13,DMSO,DMSO,ctl_vehicle,0.1,%,24,h,MCF7
4,ASG001_MCF7_24H_X1_B7_DUO52HI53LO:N13,ASG001_MCF7_24H_X1,N13,DMSO,DMSO,ctl_vehicle,0.1,%,24,h,MCF7

In [36]:
len(list(set(cell_id) & set(instInfo['inst_id'])))

1319138

In [37]:
len(cell_id)

1319138

In [38]:
instInfo.shape

(1319138, 11)

In [39]:
perData = pd.read_csv('GSE92742_Broad_LINCS_pert_info.txt', sep="\t")
perData.head()

,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
0,56582,AKT2,trt_oe,0,-666,-666,-666,-666
1,5981,HSF1,trt_oe,0,-666,-666,-666,-666
2,7150,NFE2L2,trt_oe,0,-666,-666,-666,-666
3,ABL1_G2A,ABL1,trt_oe.mut,0,-666,-666,-666,-666
4,ABL1_T315I,ABL1,trt_oe.mut,0,-666,-666,-666,-666

In [41]:
list(set(instInfo.columns) & set(perData.columns))

['pert_type', 'pert_id', 'pert_iname']

In [45]:
pd.DataFrame(cell_id, columns = ['a'])

                                            a
0        CPC005_A375_6H_X1_B3_DUO52HI53LO:K06
1        CPC005_A375_6H_X2_B3_DUO52HI53LO:K06
2        CPC005_A375_6H_X3_B3_DUO52HI53LO:K06
3        CPC005_A375_6H_X1_B3_DUO52HI53LO:C19
4        CPC005_A375_6H_X2_B3_DUO52HI53LO:C19
...                                       ...
1319133            PCLB003_PC3_24H_X3_B13:P20
1319134            PCLB003_PC3_24H_X3_B13:P21
1319135            PCLB003_PC3_24H_X3_B13:P22
1319136            PCLB003_PC3_24H_X3_B13:P23
1319137            PCLB003_PC3_24H_X3_B13:P24

[1319138 rows x 1 columns]

In [46]:
perMeta = pd.DataFrame(cell_id, columns = ['cell']).merge(instInfo.loc[:, ['inst_id', 'pert_id']], 
                                                left_on = 'cell', 
                                                right_on = 'inst_id', how = 'left').merge(perData, on = 'pert_id', 
                                                                                         how = 'left')

In [47]:
perMeta.shape

(1319138, 10)

In [48]:
perMeta.head()

,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
0,CPC005_A375_6H_X1_B3_DUO52HI53LO:K06,CPC005_A375_6H_X1_B3_DUO52HI53LO:K06,BRD-A85280935,quinpirole,trt_cp,1.0,FTSUPYGMFAPCFZ,FTSUPYGMFAPCFZ-UHFFFAOYSA-N,CCCN1CCCC2Cc3n[nH]cc3CC21,-666
1,CPC005_A375_6H_X2_B3_DUO52HI53LO:K06,CPC005_A375_6H_X2_B3_DUO52HI53LO:K06,BRD-A85280935,quinpirole,trt_cp,1.0,FTSUPYGMFAPCFZ,FTSUPYGMFAPCFZ-UHFFFAOYSA-N,CCCN1CCCC2Cc3n[nH]cc3CC21,-666
2,CPC005_A375_6H_X3_B3_DUO52HI53LO:K06,CPC005_A375_6H_X3_B3_DUO52HI53LO:K06,BRD-A85280935,quinpirole,trt_cp,1.0,FTSUPYGMFAPCFZ,FTSUPYGMFAPCFZ-UHFFFAOYSA-N,CCCN1CCCC2Cc3n[nH]cc3CC21,-666
3,CPC005_A375_6H_X1_B3_DUO52HI53LO:C19,CPC005_A375_6H_X1_B3_DUO52HI53LO:C19,BRD-A07824748,flavanone,trt_cp,1.0,ZONYXWQDUYMKFB,ZONYXWQDUYMKFB-UHFFFAOYSA-N,O=C1CC(Oc2ccccc12)c3ccccc3,-666
4,CPC005_A375_6H_X2_B3_DUO52HI53LO:C19,CPC005_A375_6H_X2_B3_DUO52HI53LO:C19,BRD-A07824748,flavanone,trt_cp,1.0,ZONYXWQDUYMKFB,ZONYXWQDUYMKFB-UHFFFAOYSA-N,O=C1CC(Oc2ccccc12)c3ccccc3,-666

In [50]:
perMeta['canonical_smiles'].isnull().sum()

99190

In [53]:
perMeta['canonical_smiles'].unique()

array(['CCCN1CCCC2Cc3n[nH]cc3CC21', 'O=C1CC(Oc2ccccc12)c3ccccc3',
       'C[C@@H]1O[C@@H](OC[C@H]2O[C@@H](Oc3c(oc4cc(O)cc(O)c4c3=O)-c3ccc(O)c(O)c3)[C@H](O)[C@@H](O)[C@@H]2O)[C@H](O)[C@H](O)[C@H]1O',
       ...,
       'COc1cc(Nc2ncc3CN=C(c4cc(Cl)ccc4-c3n2)c2c(F)cccc2OC)ccc1C(O)=O',
       'CC1(C)Oc2ccc3C4=C[C@@]56NC(=O)[C@]7(CCCN7C5=O)C[C@H]6C(C)(C)C4=[N+]([O-])c3c2C=C1',
       'C[C@@H]1CC(=O)NN=C1c1ccc(N)c(c1)[N+]([O-])=O'], dtype=object)

In [54]:
perMeta[perMeta['canonical_smiles'] == '-666'].head()

,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
122632,CPC009_A375_6H_X1_B3_DUO52HI53LO:P19,CPC009_A375_6H_X1_B3_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122633,CPC009_A375_6H_X2_F1B3_DUO52HI53LO:P19,CPC009_A375_6H_X2_F1B3_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122634,CPC009_A375_6H_X4_B5_DUO52HI53LO:P19,CPC009_A375_6H_X4_B5_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122635,CPC009_A375_6H_X5_F1B5_DUO52HI53LO:P19,CPC009_A375_6H_X5_F1B5_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122636,CPC008_A375_6H_X1_B3_DUO52HI53LO:D06,CPC008_A375_6H_X1_B3_DUO52HI53LO:D06,BRD-U88878891,BRD-U88878891,trt_cp,0.0,-666,-666,-666,-666

In [55]:
perMeta[perMeta['canonical_smiles'].isnull()]

,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
386983,DER001_A375_96H_X1_B7_DUO52HI53LO:A24,DER001_A375_96H_X1_B7_DUO52HI53LO:A24,TRCN0000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386984,DER001_A375_96H_X1_B7_DUO52HI53LO:C04,DER001_A375_96H_X1_B7_DUO52HI53LO:C04,TRCN0000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386985,DER001_A375_96H_X1_B7_DUO52HI53LO:F09,DER001_A375_96H_X1_B7_DUO52HI53LO:F09,TRCN0000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386986,DER001_A375_96H_X1_B7_DUO52HI53LO:M05,DER001_A375_96H_X1_B7_DUO52HI53LO:M05,TRCN0000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386987,DER001_A375_96H_X1_B7_DUO52HI53LO:N12,DER001_A375_96H_X1_B7_DUO52HI53LO:N12,TRCN0000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1301308,HSF045_HEK293T_48H_X2_B12:P20,HSF045_HEK293T_48H_X2_B12:P20,GNF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301309,HSF045_HEK293T_48H_X2_B12:P21,HSF045_HEK293T_48H_X2_B12:P21,GNF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301310,HSF045_HEK293T_48H_X2_B12:P22,HSF045_HEK293T_48H_X2_B12:P22,GNF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301311,HSF045_HEK293T_48H_X2_B12:P23,HSF045_HEK293T_48H_X2_B12:P23,GNF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301312,HSF045_HEK293T_48H_X2_B12:P24,HSF045_HEK293T_48H_X2_B12:P24,GNF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
perMeta['pert_id'].isnull().sum()

0

In [57]:
perMeta.to_csv('GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_PerturbMeta.csv')

In [58]:
pwd

'/nfs/turbo/umms-welchjd/hengshi/perturb_gan/data/LINCS'

In [67]:
perMeta[~(perMeta['canonical_smiles'].isnull() | perMeta['canonical_smiles'] == '-666')].shape

/sw/arcts/centos7/python3.8-anaconda/2020.07/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

(1319138, 10)

In [66]:
((perMeta['canonical_smiles'].isnull()) | (perMeta['canonical_smiles'] == '-666'))

0          False
1          False
2          False
3          False
4          False
           ...
1319133    False
1319134    False
1319135    False
1319136    False
1319137    False
Name: canonical_smiles, Length: 1319138, dtype: bool

In [64]:
perMeta['canonical_smiles'] == '-666'

0          False
1          False
2          False
3          False
4          False
           ...
1319133    False
1319134    False
1319135    False
1319136    False
1319137    False
Name: canonical_smiles, Length: 1319138, dtype: bool

In [68]:
(perMeta['canonical_smiles'] == '-666').sum()

529249

In [104]:
unique_canon = perMeta[(~perMeta['canonical_smiles'].isnull()) & (perMeta['canonical_smiles'] != '-666')]['canonical_smiles'].unique()

In [105]:
indices_with_value = list((~perMeta['canonical_smiles'].isnull()) & (perMeta['canonical_smiles'] != '-666'))

In [106]:
np.save('./oneHot/GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_UniqueCanonicalSmiles.npy', unique_canon)

In [107]:
pd.DataFrame(unique_canon).to_csv('./oneHot/GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_UniqueCanonicalSmiles.csv')

In [112]:
np.save('./oneHot/GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_IndicesWithCanonicalSmiles.npy', np.array(indices_with_value))

In [82]:
perMeta[~(perMeta['canonical_smiles'].isnull() | perMeta['canonical_smiles'] == '-666')]['canonical_smiles'].isna().sum()

99190

In [84]:
perMeta['canonical_smiles'].isnull().sum()

99190

In [94]:
(perMeta['canonical_smiles'] != '-666').sum()

789889

In [113]:
unique_canon.shape

(20330,)

In [4]:
1319137 - 99190 - 20330

1199617

# Remove 2000 perturbations

In [1]:
import pandas as pd
import numpy as np
trt_whole_list = np.load('./oneHot/GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_UniqueCanonicalSmilesOneHotSmiles.npy')

In [2]:
trt_whole_list.shape

(20065,)

In [3]:
a = np.random.choice(trt_whole_list, 2000, replace = False)

In [4]:
a

array(['C1CN=C(N1)C1COc2ccccc2O1',
       'COCC(=O)N1C[C@H]2[C@H]([C@H](CO)N2C(=O)C1)c1ccc(cc1)-c1ccccc1F',
       'C\\C=C\\c1ccc(cc1)[C@@H]1[C@@H](CO)N([C@H]1CN(C)C(=O)NC1CCCC1)C(C)=O',
       ...,
       'COc1cccc(c1)c2cnc3O[C@H](CN(C)CC4CCCC4)[C@@H](C)CN([C@@H](C)CO)C(=O)c3c2',
       'CN(C)C(=O)C[C@H]1CC[C@H]2[C@@H](COc3ccc(NC(=O)c4ccc(F)cc4)cc3C(=O)N2C)O1',
       'COC(=O)C[C@@H]1O[C@@H](CO)[C@H](NC(=O)Nc2ccc(cc2)C(F)(F)F)C=C1'],
      dtype='<U458')

In [5]:
np.unique(a).shape

(2000,)

In [6]:
np.save("./oneHot/LINCS_2000RemovedPerturbs.npy", a)

In [7]:
pwd

'/nfs/turbo/umms-welchjd/hengshi/perturb_gan/data/LINCS'

In [8]:
pwd

'/nfs/turbo/umms-welchjd/hengshi/perturb_gan/data/LINCS'

# PerMeta

In [1]:
import pandas as pd
perMeta = pd.read_csv('GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_PerturbMeta.csv')

/sw/arcts/centos7/python3.8-anaconda/2020.07/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
perMeta.shape

(1319138, 11)

In [3]:
perMeta.head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
0,0,CPC005_A375_6H_X1_B3_DUO52HI53LO:K06,CPC005_A375_6H_X1_B3_DUO52HI53LO:K06,BRD-A85280935,quinpirole,trt_cp,1.0,FTSUPYGMFAPCFZ,FTSUPYGMFAPCFZ-UHFFFAOYSA-N,CCCN1CCCC2Cc3n[nH]cc3CC21,-666
1,1,CPC005_A375_6H_X2_B3_DUO52HI53LO:K06,CPC005_A375_6H_X2_B3_DUO52HI53LO:K06,BRD-A85280935,quinpirole,trt_cp,1.0,FTSUPYGMFAPCFZ,FTSUPYGMFAPCFZ-UHFFFAOYSA-N,CCCN1CCCC2Cc3n[nH]cc3CC21,-666
2,2,CPC005_A375_6H_X3_B3_DUO52HI53LO:K06,CPC005_A375_6H_X3_B3_DUO52HI53LO:K06,BRD-A85280935,quinpirole,trt_cp,1.0,FTSUPYGMFAPCFZ,FTSUPYGMFAPCFZ-UHFFFAOYSA-N,CCCN1CCCC2Cc3n[nH]cc3CC21,-666
3,3,CPC005_A375_6H_X1_B3_DUO52HI53LO:C19,CPC005_A375_6H_X1_B3_DUO52HI53LO:C19,BRD-A07824748,flavanone,trt_cp,1.0,ZONYXWQDUYMKFB,ZONYXWQDUYMKFB-UHFFFAOYSA-N,O=C1CC(Oc2ccccc12)c3ccccc3,-666
4,4,CPC005_A375_6H_X2_B3_DUO52HI53LO:C19,CPC005_A375_6H_X2_B3_DUO52HI53LO:C19,BRD-A07824748,flavanone,trt_cp,1.0,ZONYXWQDUYMKFB,ZONYXWQDUYMKFB-UHFFFAOYSA-N,O=C1CC(Oc2ccccc12)c3ccccc3,-666

In [16]:
genes = perMeta[(perMeta['pert_type'] == 'trt_sh')]['pert_iname'].unique()

In [19]:
import numpy as np
import os
path_geneanno = "/nfs/turbo/umms-welchjd/hengshi/GAN/data/Genotype/"
gene_data = np.load(os.path.join(path_geneanno, 'gene.npy'))

In [25]:
np.in1d(genes, gene_data).sum(), np.shape(genes)

(4109, (4371,))

In [11]:
perMeta['pert_type'].unique()

array(['trt_cp', 'ctl_vehicle', 'trt_lig', 'trt_sh', 'ctl_vector', nan,
       'ctl_untrt', 'trt_oe', 'trt_oe.mut'], dtype=object)

In [8]:
perMeta_noSmile = perMeta[(perMeta['canonical_smiles'].isnull()) | (perMeta['canonical_smiles'] == '-666')]

In [9]:
perMeta_noSmile.head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
122632,122632,CPC009_A375_6H_X1_B3_DUO52HI53LO:P19,CPC009_A375_6H_X1_B3_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122633,122633,CPC009_A375_6H_X2_F1B3_DUO52HI53LO:P19,CPC009_A375_6H_X2_F1B3_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122634,122634,CPC009_A375_6H_X4_B5_DUO52HI53LO:P19,CPC009_A375_6H_X4_B5_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122635,122635,CPC009_A375_6H_X5_F1B5_DUO52HI53LO:P19,CPC009_A375_6H_X5_F1B5_DUO52HI53LO:P19,BRD-U32049204,BRD-U32049204,trt_cp,0.0,-666,-666,-666,-666
122636,122636,CPC008_A375_6H_X1_B3_DUO52HI53LO:D06,CPC008_A375_6H_X1_B3_DUO52HI53LO:D06,BRD-U88878891,BRD-U88878891,trt_cp,0.0,-666,-666,-666,-666

In [10]:
perMeta_noSmile['pert_type'].unique()

array(['trt_cp', 'trt_lig', 'ctl_vehicle', 'trt_sh', 'ctl_vector', nan,
       'ctl_untrt', 'trt_oe', 'trt_oe.mut'], dtype=object)

In [11]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_lig'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
385036,385036,CYT001_A375_4H_X1_B7_DUO52HI53LO:C03,CYT001_A375_4H_X1_B7_DUO52HI53LO:C03,CMAP-CYT-C0663,ACHE,trt_lig,0.0,-666,-666,-666,-666
385037,385037,CYT001_A375_4H_X2_B7_DUO52HI53LO:C03,CYT001_A375_4H_X2_B7_DUO52HI53LO:C03,CMAP-CYT-C0663,ACHE,trt_lig,0.0,-666,-666,-666,-666
385038,385038,CYT001_A375_4H_X3_B7_DUO52HI53LO:C03,CYT001_A375_4H_X3_B7_DUO52HI53LO:C03,CMAP-CYT-C0663,ACHE,trt_lig,0.0,-666,-666,-666,-666
385039,385039,CYT001_A375_4H_X1_B7_DUO52HI53LO:B04,CYT001_A375_4H_X1_B7_DUO52HI53LO:B04,CMAP-CYT-A2327,ADM,trt_lig,0.0,-666,-666,-666,-666
385040,385040,CYT001_A375_4H_X2_B7_DUO52HI53LO:B04,CYT001_A375_4H_X2_B7_DUO52HI53LO:B04,CMAP-CYT-A2327,ADM,trt_lig,0.0,-666,-666,-666,-666

In [12]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'ctl_vehicle'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
385090,385090,CYT001_A375_4H_X1_B7_DUO52HI53LO:C01,CYT001_A375_4H_X1_B7_DUO52HI53LO:C01,PBS,PBS,ctl_vehicle,0.0,-666,-666,-666,-666
385091,385091,CYT001_A375_4H_X1_B7_DUO52HI53LO:D01,CYT001_A375_4H_X1_B7_DUO52HI53LO:D01,PBS,PBS,ctl_vehicle,0.0,-666,-666,-666,-666
385092,385092,CYT001_A375_4H_X1_B7_DUO52HI53LO:E01,CYT001_A375_4H_X1_B7_DUO52HI53LO:E01,PBS,PBS,ctl_vehicle,0.0,-666,-666,-666,-666
385093,385093,CYT001_A375_4H_X1_B7_DUO52HI53LO:F01,CYT001_A375_4H_X1_B7_DUO52HI53LO:F01,PBS,PBS,ctl_vehicle,0.0,-666,-666,-666,-666
385094,385094,CYT001_A375_4H_X1_B7_DUO52HI53LO:H01,CYT001_A375_4H_X1_B7_DUO52HI53LO:H01,PBS,PBS,ctl_vehicle,0.0,-666,-666,-666,-666

In [13]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_sh'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
385988,385988,DER001_A375_96H_X1_B7_DUO52HI53LO:O17,DER001_A375_96H_X1_B7_DUO52HI53LO:O17,TRCN0000052583,ADPGK,trt_sh,1.0,-666,-666,-666,-666
385989,385989,DER001_A375_96H_X2_B7_DUO52HI53LO:O17,DER001_A375_96H_X2_B7_DUO52HI53LO:O17,TRCN0000052583,ADPGK,trt_sh,1.0,-666,-666,-666,-666
385990,385990,DER001_A375_96H_X3_B7_DUO52HI53LO:O17,DER001_A375_96H_X3_B7_DUO52HI53LO:O17,TRCN0000052583,ADPGK,trt_sh,1.0,-666,-666,-666,-666
385991,385991,DER001_A375_96H_X1_B7_DUO52HI53LO:K19,DER001_A375_96H_X1_B7_DUO52HI53LO:K19,TRCN0000052584,ADPGK,trt_sh,1.0,-666,-666,-666,-666
385992,385992,DER001_A375_96H_X2_B7_DUO52HI53LO:K19,DER001_A375_96H_X2_B7_DUO52HI53LO:K19,TRCN0000052584,ADPGK,trt_sh,1.0,-666,-666,-666,-666

In [24]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_sh']['pert_iname'].unique()

array(['ADPGK', 'AK3', 'AKR1C2', ..., 'VRK2', 'WEE1', 'ZAP70'],
      dtype=object)

In [25]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_sh'].shape

(90574, 11)

In [12]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'ctl_vector'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
386262,386262,DER001_A375_96H_X1_B7_DUO52HI53LO:B09,DER001_A375_96H_X1_B7_DUO52HI53LO:B09,TRCN0000208001,EMPTY_VECTOR,ctl_vector,1.0,-666,-666,-666,-666
386263,386263,DER001_A375_96H_X1_B7_DUO52HI53LO:G03,DER001_A375_96H_X1_B7_DUO52HI53LO:G03,TRCN0000208001,EMPTY_VECTOR,ctl_vector,1.0,-666,-666,-666,-666
386264,386264,DER001_A375_96H_X1_B7_DUO52HI53LO:I02,DER001_A375_96H_X1_B7_DUO52HI53LO:I02,TRCN0000208001,EMPTY_VECTOR,ctl_vector,1.0,-666,-666,-666,-666
386265,386265,DER001_A375_96H_X1_B7_DUO52HI53LO:N02,DER001_A375_96H_X1_B7_DUO52HI53LO:N02,TRCN0000208001,EMPTY_VECTOR,ctl_vector,1.0,-666,-666,-666,-666
386266,386266,DER001_A375_96H_X1_B7_DUO52HI53LO:N03,DER001_A375_96H_X1_B7_DUO52HI53LO:N03,TRCN0000208001,EMPTY_VECTOR,ctl_vector,1.0,-666,-666,-666,-666

In [13]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'ctl_untrt'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
390292,390292,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A06,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A06,CMAP-000,UnTrt,ctl_untrt,0.0,-666,-666,-666,-666
390293,390293,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A07,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A07,CMAP-000,UnTrt,ctl_untrt,0.0,-666,-666,-666,-666
390294,390294,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A08,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A08,CMAP-000,UnTrt,ctl_untrt,0.0,-666,-666,-666,-666
390295,390295,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A09,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A09,CMAP-000,UnTrt,ctl_untrt,0.0,-666,-666,-666,-666
390296,390296,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A10,CRCGN001_HA1E_6H_X1_F1B4_DUO52HI53LO:A10,CMAP-000,UnTrt,ctl_untrt,0.0,-666,-666,-666,-666

In [14]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_oe'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
562809,562809,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:I21,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:I21,CMAP-HSF-ABL1,ABL1,trt_oe,0.0,-666,-666,-666,-666
562810,562810,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:I22,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:I22,CMAP-HSF-ABL1,ABL1,trt_oe,0.0,-666,-666,-666,-666
562811,562811,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:J21,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:J21,CMAP-HSF-ABL1,ABL1,trt_oe,0.0,-666,-666,-666,-666
562812,562812,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:J22,HSF001_HEK293T_48H_X1_B7_DUO52HI53LO:J22,CMAP-HSF-ABL1,ABL1,trt_oe,0.0,-666,-666,-666,-666
562813,562813,HSF006_HEK293T_48H_X1_B7_DUO52HI53LO:A17,HSF006_HEK293T_48H_X1_B7_DUO52HI53LO:A17,CMAP-HSF-ABL1,ABL1,trt_oe,0.0,-666,-666,-666,-666

In [15]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_oe.mut'].head()

,Unnamed: 0,cell,inst_id,pert_id,pert_iname,pert_type,is_touchstone,inchi_key_prefix,inchi_key,canonical_smiles,pubchem_cid
1295899,1295899,HSF033_HEK293T_48H_X1_B12:A20,HSF033_HEK293T_48H_X1_B12:A20,ABL1_G2A,ABL1,trt_oe.mut,0.0,-666,-666,-666,-666
1295900,1295900,HSF033_HEK293T_48H_X2_B12:A20,HSF033_HEK293T_48H_X2_B12:A20,ABL1_G2A,ABL1,trt_oe.mut,0.0,-666,-666,-666,-666
1295901,1295901,HSF034_HEK293T_48H_X1_B12:A20,HSF034_HEK293T_48H_X1_B12:A20,ABL1_G2A,ABL1,trt_oe.mut,0.0,-666,-666,-666,-666
1295902,1295902,HSF034_HEK293T_48H_X2_B12:A20,HSF034_HEK293T_48H_X2_B12:A20,ABL1_G2A,ABL1,trt_oe.mut,0.0,-666,-666,-666,-666
1295903,1295903,HSF035_HEK293T_48H_X1_B12:A20,HSF035_HEK293T_48H_X1_B12:A20,ABL1_G2A,ABL1,trt_oe.mut,0.0,-666,-666,-666,-666

In [20]:
perMeta_noSmile[perMeta_noSmile['pert_type'] == 'trt_oe.mut']

(3810, 11)

In [14]:
pdata = pd.read_csv("GSE92742_Broad_LINCS_gene_info.txt.gz", compression='gzip', sep="\t")
pdata.head()

,pr_gene_id,pr_gene_symbol,pr_gene_title,pr_is_lm,pr_is_bing
0,780,DDR1,discoidin domain receptor tyrosine kinase 1,1,1
1,7849,PAX8,paired box 8,1,1
2,2978,GUCA1A,guanylate cyclase activator 1A,0,0
3,2049,EPHB3,EPH receptor B3,0,1
4,2101,ESRRA,estrogen related receptor alpha,0,1

In [15]:
allGenes = set(list(pdata['pr_gene_symbol']))

In [21]:
'ABL1' in allGenes, 'ACHE' in allGenes

(True, True)

In [22]:
'PBS' in allGenes

False

In [24]:
perMeta_noSmile['pert_iname'].unique()

array(['BRD-U32049204', 'BRD-U88878891', 'KU-C104220', ..., 'TPM3-PDGFRB',
       'TPM4-ALK', 'TPR-MET'], dtype=object)

In [17]:
'ADPGK' in allGenes

True

# Fine-tune GenotypeVAE

In [1]:
import pandas as pd
perMeta = pd.read_csv('GSE92742_Broad_LINCS_Level3_INF_mlr12k_n1319138x12328_processed_PerturbMeta.csv')
perMeta_trtSh = perMeta[(perMeta['pert_type'] == 'trt_sh')]
genes = perMeta_trtSh['pert_iname'].unique()

/Users/hengshiyu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
genes.shape

(4371,)

In [6]:
import numpy as np
genes_with_anno = np.load('UniqueGenePerturbGene.npy', allow_pickle=True)

In [7]:
genes_with_anno.shape

(4109,)

In [8]:
a = np.random.choice(genes_with_anno, 400, replace = False)

In [9]:
np.unique(a).shape

(400,)

In [10]:
np.save("./LINCS_400RemovedGeneticPerturbs.npy", a)

In [2]:
genes.shape

(4371,)

In [3]:
gene_data

array(['A0A087WT57', 'A0A087WUV0', 'A0A087WVE0', ..., 'ZZZ3',
       'hCG_1642624', 'hCG_2014768'], dtype='<U15')

In [4]:
genes

array(['ADPGK', 'AK3', 'AKR1C2', ..., 'SRMS', 'STK4', 'TNK1'],
      dtype=object)

In [7]:
indices_with_anno = []
indices_lib = []

for i in range(genes.shape[0]):
    gene = genes[i]
    indice = np.where(gene_data == gene)[0]
    
    if len(indice) != 0:
        indices_with_anno.append(i)
        indices_lib.append(indice[0])

In [8]:
len(set(gene_data) & set(genes))

4109

In [9]:
len(indices_with_anno), len(indices_lib)

(4109, 4109)

In [11]:
onehot_data = np.zeros((len(indices_lib), len(gene_data)))

In [13]:
for i in range(len(indices_lib)):
    j = indices_lib[i]
    onehot_data[i, j] = 1

In [16]:
onehot_data.sum(1)

array([1., 1., 1., ..., 1., 1., 1.])

In [17]:
np.save('UniqueGenePerturbOnehot.npy', onehot_data)

In [18]:
np.save('UniqueGenePerturbGene.npy', genes[indices_with_anno])

In [19]:
pwd

'/nfs/turbo/umms-welchjd/hengshi/perturb_gan/data/LINCS'